[Unit]
Description=Network test
Wants=dbus.service
[Service]
StandardOutput=syslog+console
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/python /usr/sbin/nm_indicator_dbusmenu_introspect.py
[Install]
WantedBy=default.target
