[Unit]
Description=Network test
#After=ath10k-delay-loading.service
[Service]
StandardOutput=syslog+console
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/bin/sleep 60
ExecStart=/bin/sh -c /usr/sbin/check-something.sh -f /user/local/share/reboot-check/reboot-check.conf
[Install]
WantedBy=multi-user.target
