Source: reboot-check
Section: misc
Priority: optional
Maintainer: alex tu <alex.tu@canonical.com>
Build-Depends: debhelper (>=9), dh-modaliases
Standards-Version: 3.9.8
Vcs-Bzr: ssh://git.launchpad.net/~alextu/somerville/+git/reboot-check 

Package: reboot-check
Architecture: all
Depends: ${misc:Depends}
Description: reboot-check, controlled by /user/local/share/reboot-check/reboot-check.conf
XB-Modaliases: ${modaliases}
